<ion-header>
  <ion-toolbar>
    <a href="home">IrakurNet</a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form onsubmit="addPost()">
    <label for="ftitulo">Titulua:</label><br>
    <input type="text" id="ftitulo" name="ftitulo" placeholder="Tituloa"><br>
    <label for="fkat">Kategoria:</label><br>
    <select id="fkat" name="fkat">
      <option value="Coronavirus">Coronavirus</option>
      <option value="Aww">Aww</option>
      <option value="RedditenKopia">RedditenKopia</option>
      <option value="Animemeak">Animemeak</option>
      <option value="Esternokleidomastoideoa">Esternokleidomastoideoa</option>
      <option value="Superkalifragilistikoespialidoso">Superkalifragilistikoespialidoso</option>
      <option value="Pray4Harambe">Pray4Harambe</option>
      <option value="TheCakeIsALie">TheCakeIsALie</option>
      <option value="ZeinDaOreoShake">ZeinDaOreoShake</option>
      <option value="ProiekturakoIdeiak">ProiekturakoIdeiak</option>
    </select>
    <label for="ltestua">Testua:</label><br>
    <input type="text" id="ltestua" name="ltestua" placeholder="Testua"><br><br>
    <label for="fmedia">Media:</label><br>
    <input type="text" id="fmedia" name="fmedia" placeholder="Media"><br>
    <input type="submit" value="Bidali">
  </form>
  <form onsubmit="addKat()">
    <label for="fizena">Izena:</label><br>
    <input type="text" id="fizena" name="fizena" placeholder="Kategoria izena"><br>
    <input type="submit" value="Bidali">
  </form>

</ion-content>
