<ion-header>
  <ion-toolbar>
    <a href="home">IrakurNet</a>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
  <form onsubmit="addPost()">
    <label for="ftitulo">Titulua:</label><br>
    <input type="text" [(ngModel)]="titulo" id="ftitulo" name="ftitulo" placeholder="Tituloa"><br>
    <label for="fkat">Kategoria:</label><br>
    <select id="fkat" [(ngModel)]="skat" name="fkat">
    </select><br>
    <label for="ltestua">Testua:</label><br>
    <input type="text" [(ngModel)]="testua" id="ltestua" name="ltestua" placeholder="Testua"><br><br>
    <label for="fmedia">Media:</label><br>
    <input type="text" [(ngModel)]="media" id="fmedia" name="fmedia" placeholder="Media"><br>
    <button type="button" class="btn yo btn-primary" myitem (click)='addPost()'>Posta gehitu</button>
  </form>
  
</div>
<div>
  <form onsubmit="addKat()">
    <label for="fizena">Izena:</label><br>
    <input type="text" [(ngModel)]="myInput" id="fizena" name="fizena" placeholder="Kategoria izena"><br>
    <button type="button" class="btn btn-primary" myitem (click)='addKat()'>Kategoria gehitu</button>
  </form>
  
</div>
</ion-content>
