<ion-header>
  <ion-toolbar >
    <ion-title>
      <a href="home">IrakurNet</a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar id="searchBar" debounce="500" showCancelButton="focus" ></ion-searchbar>
      <!--<div *ngIf="{{globalId =='-1'}}; else logeauta">-->
        <ion-button href="login">
          Saioa hasi
        </ion-button>
        <ion-button href="erregistratu">
          Erregistratu
        </ion-button>
     <!-- </div>
      <ng-template #logeauta>
        <ion-button href="login">
          Saioa itxi
        </ion-button>
        <ion-button href="erregistratu">
          Erregistratu
        </ion-button>
      </ng-template>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>