<ion-header>
  <ion-toolbar >
    <ion-title>
      <a href="home">IrakurNet</a>
    </ion-title>
    <ion-buttons slot="end">
      <ion-searchbar id="searchBar" debounce="500" (change)="buscar($event)" showCancelButton="focus"></ion-searchbar>
      <!--<div *ngIf="{{username ==''}}; else logeauta">-->
        <ion-button href="login" *ngIf="username == null">
          Saioa hasi
        </ion-button>
        <ion-button href="erregistratu" *ngIf="username == null">
          Erregistratu
        </ion-button>
        <ion-title *ngIf="username != null">
          {{username}}
        </ion-title>
        <ion-button href="add" *ngIf="username != null">
          Post berria
        </ion-button>
        <ion-button (click)="logout()" *ngIf="username != null">
          Saioa itxi
        </ion-button>
      <!--</div>
      <ng-template #logeauta>
        <ion-button href="login">
          Saioa itxi
        </ion-button>
        <ion-button href="erregistratu">
          Erregistratu
        </ion-button>
      </ng-template>-->
    </ion-buttons>
  </ion-toolbar>
</ion-header>