<!--<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12" id="columnaLogin">
			<div text-center>
				<h4>Login Form</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Username"></ion-input>
				</ion-item>-->

  
  <ion-content >
	<form onsubmit="LogIn()" id="logIon">
	  <label for="name">Izena:</label><br>
	  <input type="text" [(ngModel)]="name" id="name" name="name" placeholder="Izena"><br>

	  <label for="ltestua">Pasahitza:</label><br>
	  <input type="password" [(ngModel)]="password" id="password" name="password" placeholder="****"><br><br>
	</form>
	<button type="button" class="btn btn-primary" myitem (click)='LogIn()'>Log in</button>
  </ion-content>
  