<ion-header>
	<ion-toolbar>
	  <a href="home">IrakurNet</a>
	  <h1>Log in</h1>
	</ion-toolbar>
  </ion-header>
  
  <ion-content>
	<form onsubmit="LogIn()">
	  <label for="name">Izena:</label><br>
	  <input type="text" [(ngModel)]="name" id="name" name="name" placeholder="Izena"><br>

	  <label for="ltestua">Pasahitza:</label><br>
	  <input type="password" [(ngModel)]="password" id="password" name="password" placeholder="****"><br><br>
	</form>
	<button type="button" class="btn btn-primary" myitem (click)='LogIn()'>Log in</button>
  </ion-content>
  