<div class="post contenido">
  <p class="lineaArriba">i/{{post.kategoria}} : e/{{post.name}} argitaratuta {{post.updated_at}}</p>
  <h3 class="title">{{post.title}}</h3>
  <div class="imgVidLoQueSea">
    <div text-center *ngIf="platform.is('android'); else ordenagailua">
      <ion-img class="irudia" *ngIf="irudiaDa"  src="{{post.imgurl}}" width="280"></ion-img>
    <iframe class="frame-a" *ngIf="bideoaDa" width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
    </div>
    <ng-template #ordenagailua>
      <img class="irudia" *ngIf="irudiaDa"  src="{{post.imageUrl}}" />
    </ng-template>
    
  </div>
</div>
<ion-content padding>
<form onsubmit="addComment()">
  <ion-label for="ltestua">Testua:</ion-label><br>
  <input type="text" [(ngModel)]="testua" id="ltestua" name="ltestua" placeholder="Testua">
</form>
<ion-button type="button" class="btn btn-primary" myitem (click)='addComment()'>Iritzia gehitu</ion-button>
<div *ngFor="let comment of comments" class="post contenido">
  <p class="lineaArriba">Argitaratuta {{comment.updated_at}}</p>
  <h3 class="title">{{comments.idAutor}}</h3>
  <p>{{comments.texto}}</p>
</div>
</ion-content>

