<form onsubmit="updatePost()">
  <label for="ftitulo">Titulua:</label><br>
  <input type="text" [(ngModel)]="titulo" id="ftitulo" name="ftitulo" placeholder="Tituloa"><br>
  <label for="fkat">Kategoria:</label><br>
  <select id="fkat" [(ngModel)]="skat" name="fkat">
  </select><br>
  <label for="ltestua">Testua:</label><br>
  <input type="text" [(ngModel)]="testua" id="ltestua" name="ltestua" placeholder="Testua"><br><br>
  <label for="fmedia">Media:</label><br>
  <input type="text" [(ngModel)]="media" id="fmedia" name="fmedia" placeholder="Media"><br>
  <button type="button" class="btn yo btn-primary" myitem (click)='addPost()'>Posta gehitu</button>
</form>