
<!--<ion-header [translucent]="true">
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-only >
        <ion-icon name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-left><a href="home">IrakurNet</a></ion-title> 
  </ion-navbar>
</ion-header>-->


<ion-content  [fullscreen]="true" >

  <!--<div id="container">
    <strong>Ready to create an app?</strong>
    <p>Psssss, this is the real page <a rel="noopener noreferrer" href="https://www.reddit.com/">Reddit</a></p>
  </div>-->
  
  <!--<div class="post">
    <p class="lineaArriba"><a>i/Aww</a> : <a>e/OreoShake22</a> argitaratuta orain dela 6 ordu</p>
    <h3 class="title">Norbait oso zoriontsu egon behar da</h3>
    <div class="imgVidLoQueSea">
      <img class="irudia" *ngIf="irudiaDa" src="https://preview.redd.it/y45jiqjtnjl41.jpg?width=640&crop=smart&auto=webp&s=9fa90b6e35d9019a5af10a8f7cdf0321b31b1a34" />
      <iframe class="frame-a" *ngIf="bideoaDa" width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY">
      </iframe>
    </div>
    <p class="footer"><ion-icon name="chatbubbles-outline"></ion-icon> 13 iritzi <ion-icon name="share-social-outline"></ion-icon> Partekatu <ion-icon name="flag"></ion-icon> <label (click)="report()"> Reportatu</label></p>
  </div>-->
  
  <div *ngFor="let post of posts | filtro:textoBuscar" class="post contenido">
    <p class="lineaArriba"><a href="/kategoriak/{{post.idKategoria}}">i/{{post.kategoria}}</a> : <a>e/{{post.name}}</a> argitaratuta {{post.updated_at}}</p>
    <h3 class="title"><a routerLink="/post/{{post.id}}">{{post.title}}</a></h3>
    <div class="imgVidLoQueSea">
      <div text-center *ngIf="platform.is('android'); else ordenagailua">
        <ion-img class="irudia" *ngIf="irudiaDa"  src="{{post.imageUrl}}" width="280"></ion-img>
      <iframe class="frame-a" *ngIf="bideoaDa" width="420" height="345" src="https://www.youtube.com/embed/tgbNymZ7vqY"></iframe>
      </div>
      <ng-template #ordenagailua>
        <img class="irudia" *ngIf="irudiaDa"  src="{{post.imageUrl}}" />
      </ng-template>
      <p class="footer"><ion-icon name="chatbubbles-outline"></ion-icon><a routerLink="/post/{{post.id}}"> Zure iritzia eman</a><ion-icon name="share-social-outline"></ion-icon><label (click)="share(post.id)"> Partekatu </label><ion-icon name="flag"></ion-icon> <label (click)="report()"> Reportatu</label></p>
      <ion-button (click)="DeletePost(post.id)" *ngIf="post.name == username">
        Sure posta ezabatu
      </ion-button>
      <ion-button (click)="updatePost(post.id)" *ngIf="post.name == username">
        Sure posta eguneratu
      </ion-button>
      
      
    </div>
  </div>
  

  <div *ngIf="!platform.is('android')" id="topKategoria">
    <div id="colorinesTop">
      <h4 id="pTop">Gaurko azpiIrakur komunitate onenak</h4>
    </div>
    <ol>
      <li *ngFor= "let kategoria of kategoriak"><a href="/kategoriak/{{kategoria.id}}">{{kategoria.name}}</a></li>
    </ol>

  </div>
</ion-content>
